# macOS
.DS_Store
._*
**/.DS_Store
**/._*

# Dépendances et build
node_modules/
dist/
dist-ssr/

# Environnement local
.env
.env.*
*.local

# Logs
*.log
npm-debug.log*

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea
*.sw?
